doctype
html
  head
      title= title
      meta(charset="utf-8")
      //Pour le moment, bootstrap
      link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-theme.min.css')
      link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      //les scripts
      script(src='/javascripts/vendor/jquery-2.0.3.min.js')
      script(src='/javascripts/vendor/jquery-ui-1.10.3.custom.min.js')
      script(src='/javascripts/vendor/bootstrap.min.js')
      script(src='/javascripts/vendor/underscore-min.js')
      script(src='/javascripts/publier.js')
      script(src='/javascripts/verification.js')

  body
    block content
